AUTHORS
build/*
build-stamp
ChangeLog
api-ref/build/
cover/
covhtml/
dist/
doc/build
*.DS_Store
*.pyc
neutron.egg-info/
networking_sfc.egg-info/
neutron/vcsversion.py
neutron/versioninfo
pbr*.egg/
releasenotes/build
run_tests.err.log
run_tests.log
setuptools*.egg/
subunit.log
*.mo
*.sw?
*~
/.*
!/.coveragerc
!/.gitignore
!/.gitreview
!/.mailmap
!/.pylintrc
!/.testr.conf
