# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
pbr!=2.1.0 # Apache-2.0

eventlet!=0.18.3,!=0.20.1,!=0.21.0 # MIT
netaddr # BSD
python-neutronclient # Apache-2.0
SQLAlchemy!=1.1.5,!=1.1.6,!=1.1.7,!=1.1.8 # MIT
alembic # MIT
six # MIT
stevedore # Apache-2.0
oslo.config!=4.3.0,!=4.4.0 # Apache-2.0
oslo.i18n # Apache-2.0
oslo.log # Apache-2.0
oslo.messaging # Apache-2.0
oslo.serialization!=2.19.1 # Apache-2.0
oslo.utils # Apache-2.0
neutron-lib # Apache-2.0
neutron>=12.0.0 # Apache-2.0
