[DEFAULT]


[flowclassifier]

#
# From flow_classifier
#

# An ordered list of flow classifier drivers entrypoints to be loaded from the
# networking_sfc.flowclassifier.drivers namespace. (list value)
#drivers = dummy
